@page
@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@using static DataLayer.Models.ModelItem;
@using static DataLayer.Models.Products.Locomotive;
@model WebApp.Pages.Locomotive.IndexModel
@{
  ViewData["Title"] = "Locomotives";
}

<div class="container">
  <form class="product-listing">
    <div class="row">
      <div class="col col-3">
        @* Search *@
        <div class="input-group mb-3">
          <input type="search" asp-for="@Model.QueryOptions.SearchString" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <hr />

        @* Filters *@
        <button class="btn btn-light btn-sm" type="submit">Apply filters</button>
        <div class="filter-group">
          <label asp-for="@Model.QueryOptions.FilterOptions.Tags"></label>
          @foreach (string tag in Model.AllTags)
          {
            <div class="form-check">
              <input class="form-check-input" id="tag-@tag" name="Tags" type="checkbox" value="@tag" @(Model.Tags.Contains(tag) ? "checked" : "") />
              <label class="form-check-label" for="tag-@tag">@tag</label>
            </div>
          }
        </div>

        <div class="filter-group">
          <label asp-for="@Model.QueryOptions.FilterOptions.Scales"></label>
          @foreach (int value in Enum.GetValues(typeof(EScale)))
          {
            string label = typeof(EScale)
              .GetMember(typeof(EScale)
              .GetEnumName(value))
              .First()
              .GetCustomAttribute<DisplayAttribute>()
              .Name;
            <div class="form-check">
              <input class="form-check-input" id="scale-@value" name="Scales" type="checkbox" value="@value" @(Model.Scales.Contains((EScale)value) ? "checked" : "") />
              <label class="form-check-label" for="scale-@value">@label</label>
            </div>
          }
        </div>

        <div class="filter-group">
          <label asp-for="@Model.QueryOptions.FilterOptions.Controls"></label>
          @foreach (int value in Enum.GetValues(typeof(EControl)))
          {
            string label = typeof(EControl)
              .GetMember(typeof(EControl)
              .GetEnumName(value))
              .First()
              .GetCustomAttribute<DisplayAttribute>()
              .Name;
            <div class="form-check">
              <input class="form-check-input" id="control-@value" name="Controls" type="checkbox" value="@value" @(Model.Controls.Contains((EControl)value) ? "checked" : "") />
              <label class="form-check-label" for="control-@value">@label</label>
            </div>
          }
        </div>

        <div class="filter-group">
          <label asp-for="@Model.QueryOptions.FilterOptions.LocoTypes"></label>
          @foreach (int value in Enum.GetValues(typeof(ELocoType)))
          {
            string label = typeof(ELocoType)
              .GetMember(typeof(ELocoType)
              .GetEnumName(value))
              .First()
              .GetCustomAttribute<DisplayAttribute>()
              .Name;
            <div class="form-check">
              <input class="form-check-input" id="loco-type-@value" name="LocoTypes" type="checkbox" value="@value" @(Model.LocoTypes.Contains((ELocoType)value) ? "checked" : "") />
              <label class="form-check-label" for="loco-type-@value">@label</label>
            </div>
          }
        </div>

        <div class="filter-group">
          <label asp-for="@Model.QueryOptions.FilterOptions.Epochs"></label>
          @foreach (int value in Enum.GetValues(typeof(EEpoch)))
          {
            string label = typeof(EEpoch)
              .GetMember(typeof(EEpoch)
              .GetEnumName(value))
              .First()
              .GetCustomAttribute<DisplayAttribute>()
              .Name;
            <div class="form-check">
              <input class="form-check-input" id="epoch-@value" name="Epochs" type="checkbox" value="@value" @(Model.Epochs.Contains((EEpoch)value) ? "checked" : "") />
              <label class="form-check-label" for="epoch-@value">@label</label>
            </div>
          }
        </div>

        <button class="btn btn-light btn-sm" type="submit">Apply filters</button>

        <hr />
      </div>
      <div class="col col-9">
        <div class="form-row justify-content-end">
          @* Ordering *@
          <div class="col col-4 input-group input-group-sm">
            <div class="input-group-prepend">
              <label class="input-group-text" asp-for="@Model.QueryOptions.OrderByOptions"></label>
            </div>
            <select class="custom-select" asp-for="@Model.QueryOptions.OrderByOptions" asp-items="Html.GetEnumSelectList<ServiceLayer.LocomotiveService.EOrderByOptions>()" onchange="this.form.submit()"></select>
          </div>

          @* Page size select *@
          <div class="col col-3 input-group input-group-sm">
            <div class="input-group-prepend">
              <label class="input-group-text" asp-for="@Model.QueryOptions.PageSize"></label>
            </div>
            <select class="custom-select" asp-for="@Model.QueryOptions.PageSize" asp-items="Html.GetEnumSelectList<ServiceLayer.Utilities.Pagination.EPageSize>()" onchange="this.form.submit()"></select>
          </div>
        </div>

        <hr />

        @* Locomotives *@
        @{ int itemsPerRow = 2; }
        @for (int i = 0; i < (Model.Locomotives.Count / itemsPerRow) + 1; i++)
        {
          <div class="row">
            @for (int j = (i * itemsPerRow); j < (i * itemsPerRow) + itemsPerRow; j++)
            {
              if (j >= Model.Locomotives.Count)
              {
                break;
              }
              <div class="col col-@(12 / itemsPerRow)">
                <partial name="Locomotives\_ListLocomotiveCard" model="@Model.Locomotives[j]" />
              </div>
            }
          </div>
        }

        @* Pagination *@
        <ul class="pagination justify-content-center">
          @{int prev = Model.QueryOptions.PageNumber - 1, next = Model.QueryOptions.PageNumber + 1;}
          @if (prev < 1)
          {
            <li class="page-item disabled">
              <input class="page-link" type="submit" name="pg" value="@prev" disabled" />
            </li>
          }
          else
          {
            <li class="page-item">
              <input class="page-link" type="submit" name="pg" value="@prev" />
            </li>
          }


          @for (var i = 1; i <= Model.NumberOfPages; i++)
          {
            @if (i == Model.QueryOptions.PageNumber)
            {
              <li class="page-item active">
                <input class="page-link" type="submit" name="pg" value="@i" disabled />
              </li>
            }
            else
            {
              <li class="page-item">
                <input class="page-link" type="submit" name="pg" value="@i" />
              </li>
            }
          }
          @if (next > Model.NumberOfPages)
          {
            <li class="page-item disabled">
              <input class="page-link" type="submit" name="pg" value="@next" disabled" />
            </li>
          }
          else
          {
            <li class="page-item">
              <input class="page-link" type="submit" name="pg" value="@next" />
            </li>
          }
        </ul>
      </div>
    </div>
  </form>
</div>

