@page
@using ServiceLayer.LocomotiveService;
@model WebApp.Pages.Locomotive.IndexModel
@{
    ViewData["Title"] = "Locomotives";
}

<div class="container">
  <form class="product-listing">
    <div class="row">
      <div class="col col-3">
        @* Search *@
        <div class="input-group mb-3">
          <input type="search" asp-for="@Model.QueryOptions.SearchString" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <hr />

        @* Filters *@
        <h6>Tags</h6>
        @foreach (string tag in Model.AllTags)
        { 
          <div class="form-check">
            <input class="form-check-input" id="Tags" name="Tags" type="checkbox" value="@tag" @(Model.Tags.Contains(tag) ? "checked" : "")/>
            <label class="form-check-label" for="Tags">@tag</label>
          </div>
        }
      </div>
      <div class="col col-9">
        <div class="form-row justify-content-end">
          @* Ordering *@
          <div class="col col-4 input-group input-group-sm">
            <div class="input-group-prepend">
              <label class="input-group-text" asp-for="@Model.QueryOptions.OrderByOptions"></label>
            </div>
            <select class="custom-select" asp-for="@Model.QueryOptions.OrderByOptions" asp-items="Html.GetEnumSelectList<ServiceLayer.LocomotiveService.EOrderByOptions>()" onchange="this.form.submit()"></select>
          </div>

          @* Pagination *@
          <div class="col col-3 input-group input-group-sm">
            <div class="input-group-prepend">
              <label class="input-group-text" asp-for="@Model.QueryOptions.PageSize"></label>
            </div>
            <select class="custom-select" asp-for="@Model.QueryOptions.PageSize" asp-items="Html.GetEnumSelectList<ServiceLayer.Utilities.Pagination.EPageSize>()" onchange="this.form.submit()"></select>
          </div>
        </div>
        
        <hr />

        @{ int itemsPerRow = 2; }
        @for (int i = 0; i < (Model.Locomotives.Count / itemsPerRow) + 1; i++)
        {
          <div class="row">
            @for (int j = (i * itemsPerRow); j < (i * itemsPerRow) + itemsPerRow; j++)
            {
              if (j >= Model.Locomotives.Count)
              {
                break;
              }
              <div class="col col-@(12 / itemsPerRow)">
                <partial name="Locomotives\_ListLocomotiveCard" model="@Model.Locomotives[j]" />
              </div>
            }
          </div>
        }
      </div>
    </div>
  </form>
</div>

